.marvel {
  font-family: "Marvel", sans-serif;
}
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 1500ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 1500ms;
}
.list_scroll{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5vh;
  padding-left: 5vw;
  overflow-y: hidden;
  overflow-x: scroll;
}

.list_title{
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 20px;
  padding-left: 5vw;
}
